.stock {
  flex: 5;
}
.pred_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.stock-info {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.info-box {
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}

.chart-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.chart-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}